.section {
  display: flex;
  height: 100vh;
}

.section a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 2.085vw;
  width: 10.415vw;
  font-size: 1.25vw;
  cursor: pointer;
  box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.45vw;
  height: 2.1vw;
  gap: 2.1vw;
  width: 100%;
}

.buttons a {
  border-radius: 1.5625vw;
}

.embark {
  background: linear-gradient(#F00B51, #7A0066);
}

.connect {
  background: linear-gradient(#590EB6, #760EB6);
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
