.navbar {
  z-index: 999;
  position: fixed;
  display: flex;
  padding: 0 10.415vw 0 10.415vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4.15vw;
  width: 100%;
}

.logo {
  display: flex;
}

.logo img {
  height: 3.125vw;
}

.iterative {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.15vw;
}

.flag {
  height: 1.30vw;
  cursor: pointer;
}

.topics {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 3.75vw;
  list-style: none;
  height: 2.5vw;
  vertical-align: middle;
}

.topics li {
  display: grid;
  align-items: center;
}

.topics a {
  text-decoration: none;
  font-size: 1.04vw;
}

.topics a:hover {
  padding-bottom: 0.25vw;
  transition-duration: 0.20s;
  transition-delay: 0.10s;
  color: #E1E1E1;
}

.topics a:focus {
  padding-bottom: 0.25vw;
  color: #51ff00;
}

.topics a:focus .underline {
  display: grid;
}

.underline {
  display: none;
  height: 0.15vw;
  width: 100%;
  background-color: #51ff00;
  border-radius: 0.125vw;
}
